body {
    background-color: #232642
}

.header {
    margin: auto;
    background-color: black
  }

.text-align-center {
    text-align: center;
}

.big-text {
    font-size: 50px;
    color: limegreen;
    margin: 0;
    text-shadow: 2px 2px 8px rgb(55, 52, 88, 0.3);
    padding: 20px;
}